.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

/* Estilos para los componentes */

/* Estilos para el componente MenuComponent */
.menu-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.game-grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

.jugada {
  display: grid;
  grid-template-columns: 5vh 4fr 5vh;
}

.game-grid div {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.casillero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 24px;
}

.solid {
  font-weight: bold;
}

.fa-arrow-right {
  color: green;
}

.fa-arrow-left {
  color: red;
}


.mode-button-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  padding: 3%;
  column-gap: 3%;
  justify-content: center;
}

.game-mode-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 20%;
  color: black;
  font-size: 3.5vw;
  text-decoration: none;
  padding: 5%;
  background-color: lightgrey;
}

.game-mode-link img {
  height: 80%;
  width: 80%;
}