.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 5vw;
  text-align: center;
  padding-top: 2%;
}

h2 {
  font-size: 4vw;
  text-align: center;
  padding-top: 2%;
}

h3 {
  font-size: 3.5vw;
  text-align: center;
  padding-top: 2%;
}

h4 {
  font-size: 2.5vw;
  text-align: center;
  padding-top: 2%;
}

h5 {
  font-size: 2vw;
  text-align: center;
}

h6 {
  font-size: 1vw;
  text-align: center;
}


button {
  padding: 1%;
  font-size: 2vw;
  background-color: rgb(228, 189, 189);
  border-radius: 10px;
}


/* Estilos para los componentes */

/* Estilos para el componente MenuComponent */
.menu-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.game-grid {
  display: grid;
  margin-top: 20px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  /*max-width: 500px;*/
}

.game-grid div {
  text-align: center;
  justify-content: center;
  border-width: 0px;
}

.jugada {
  display: grid;
  grid-template-columns: 5vh 4fr 5vh;
  margin: 5px;
}

.boton-jugada {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 3vw;
}

.casillero1 {
  align-self: center;
  width: fit-content;
  padding: 4px 15px 4px 5px;
  clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
}

.casillero2 {
  align-self: center;
  width: fit-content;
  padding: 4px 5px 4px 15px;
  clip-path: polygon(0 50%, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 50%);
}

.ronda {}

.points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 4vw;
  margin: 3% 15%;
  gap: 10%;
}

.point-number {
  font-size: 8vw;
}

.user-points {
  border: 1px solid black;
}

.pc-points {
  border: 1px solid black;
}

.ganador {}

.icon {
  font-size: 24px;
}

.solid {
  font-weight: bold;
}

.mode-button-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  padding: 3%;
  column-gap: 3%;
  justify-content: center;
}

.game-mode-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 20%;
  color: black;
  font-size: 3.5vw;
  text-decoration: none;
  padding: 5%;
  background-color: lightgrey;
}

.game-mode-link img {
  height: 80%;
  width: 80%;
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 3000ms;
}